mysql BITMAP "Resources\\mysql.bmp"
postgres BITMAP "Resources\\postgres.bmp"
sqlite BITMAP "Resources\\sqlite.bmp"
postman BITMAP "Resources\\postman.bmp"
chatgpt BITMAP "Resources\\ChatGPT_32512.bmp"
analisarhints BITMAP "Resources\\analisarhints.bmp"
delphi_ico ICON "Resources\\delphi_ico.ico"
ibexpert BITMAP "Resources\\ibexpert.bmp"
sqlserver BITMAP "Resources\\SQLServerManagerStudio.bmp"
forumdelphi BITMAP "Resources\\delphi.bmp"
